!!!html
%html
  %head
    / requirements for pytutor.js
    %script(src='/js/d3.v2.min.js')
    %script(src='/js/jquery-1.8.2.min.js')
    %script(src='/js/jquery.ba-bbq.min.js')
    %script(src='/js/jquery.jsPlumb-1.3.10-all-min.js')
    %script(src='/js/jquery-ui-1.8.24.custom.min.js')
    %script(src='/js/pytutor.js')

    / codemirror.net online code editor
    %script(src='/js/codemirror.js')
    %script(src='/js/codemirror-ruby.js')

    %script(src='/js/application.js')
    %link(href='/css/application.css' rel='stylesheet' type='text/css')
    %script
      - if @traces
        != "var traces_json = #{JSON.dump(@traces).inspect};"
      - if @word_to_method_indexes
        = "var word_to_method_indexes = {"
        - @word_to_method_indexes.each do |word, method_indexes|
          != "#{word.inspect}: #{method_indexes.inspect},"
        = "1: 1 };"
  %body
    %form(method='post')
      #sidebar
        %a#edit-tab-link(href='#')
          #edit-tab.tab
            %h2 Edit
            %button(name='save' value='save')
              Save and
              %br
              run tests

        .filler
        - @traces.each_with_index do |trace, i|
          %a.case-tab-link(href="#")
            .tab.case-tab{ :"data-case-num" => i }
              %h2
                = @exercise ? "Case #{i}" : 'Debug'
                - if trace['passed'] == true
                  %br
                  .passed PASSED
                - elsif trace['passed'] == false
                  %br
                  .failed FAILED
        .filler.filler-tall
          logged in as
          = @current_user && @current_user.first_name
          %button(name='logout' value='logout') Logout

      #edit-content
        #user_code_div
          %textarea#user_code_textarea(name='user_code_textarea'
                                       cols='40' rows='10')
            = @user_code
        != haml :ruby_composer

      - (@traces || []).each_with_index do |trace, i|
        .case-content{ :"data-case-num" => i }
          - if @exercise
            - _case = @exercise['cases'][i]
            %ul
            - if @exercise['description']
              %li
                %b Description:
                = @exercise['description']

            - if _case['given']
              %li
                %b Given:
                %code= (_case['given'] || {}).map { |var, val| "#{var} = #{val}" }.join(', ')

            - if _case['expected_return']
              %li
                %b Expected return:
                = _case['expected_return'].inspect
              %li
                %b Actual return:
                %code= trace['returned'].inspect

            - elsif _case['expected_stdout']
              %li
                %b Expected output:
                %pre(style='display:inline-block;vertical-align:top')
                  = _case['expected_stdout']
              %li
                %b Actual output:
                %pre(style='display:inline-block;vertical-align:top')
                  = trace['trace'].last['stdout']

            %li
              %b Result:
              - if trace['passed'] == true
                .passed PASSED
              - elsif trace['passed'] == false
                .failed FAILED
            %br

          %div{ :id => "trace_render_div#{i}" }
