!!!html
%html
  %head
    / requirements for pytutor.js
    %script(src='js/d3.v2.min.js')
    %script(src='js/jquery-1.8.2.min.js')
    %script(src='js/jquery.ba-bbq.min.js')
    %script(src='js/jquery.jsPlumb-1.3.10-all-min.js')
    %script(src='js/jquery-ui-1.8.24.custom.min.js')
    %script(src='js/pytutor.js')
    %link(href='css/pytutor.css' rel='stylesheet')

    / codemirror.net online code editor
    %script(src='js/codemirror.js')
    %link(href='css/codemirror.css' rel='stylesheet' type='text/css')
    %script(src='js/codemirror-ruby.js')

    - if @trace
      %script
        != "var trace_json = #{JSON.dump(@trace).inspect};"

    %script(src='js/online-ruby-tutor.js')
    :css
      div.ExecutionVisualizer table#pyCodeOutput {
        margin: 0 0;
      }
      #trace_render_div_cover {
        position:absolute;
        z-index:99;
        width:100px;
        height:100px;
        background-color:#000000;
        opacity:0.1;
        display:none;
      }
      table {
        border-collapse: collapse;
        margin: 20px 0;
      }
      th, td {
        padding: 0px 5px;
      }
      body {
        font-family: sans-serif;
      }
      tr.headers {
        background-color: gray;
        color: white;
      }

  %body
    %script
      != "var returned = $.parseJSON(#{JSON.dump([@trace['returned']]).inspect})[0];"
      = "console.log(returned);"
    - if @exercise
      %b
        Exercise
        = "#{params['exercise_num']}:"
        = @exercise['description']
      %br
      %table
        %tr.headers
          %th Given
          %th Expected
          %th Actual
          %th Result
          %th
        - @exercise['cases'].each_with_index do |_case, i|
          %tr
            %td
              %code= _case['given']
            %td
              %code= _case['expected']
            %td
              %code nil
            %td
              %div(style='color:red;display:inline-block;width:60px') FAILED
            - if i == 0
              %td{ :rowspan => @exercise['cases'].size }
                %button(style='height:100%') Run

    %form(method='POST' action='/')
      #user_code_div
        %textarea#user_code_textarea(name='user_code_textarea'
                                     cols='40' rows='20')
          = params["user_code_textarea"]
      %button#submit_code(disabled='disabled') Run
    #trace_render_div_cover
    #trace_render_div
