!!!html
%html
  %head
    / requirements for pytutor.js
    %script(src='/js/d3.v2.min.js')
    %script(src='/js/jquery-1.8.2.min.js')
    %script(src='/js/jquery.ba-bbq.min.js')
    %script(src='/js/jquery.jsPlumb-1.3.10-all-min.js')
    %script(src='/js/jquery-ui-1.8.24.custom.min.js')
    %script(src='/js/pytutor.js')

    / codemirror.net online code editor
    %script(src='/js/codemirror.js')
    %script(src='/js/codemirror-ruby.js')

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41950809-1', 'onlinerubytutor.com');ga('send', 'pageview'); 

    %script(src='/js/application.js')
    %link(href='/css/application.css' rel='stylesheet' type='text/css')
    %script
      - if @traces
        != "var traces_json = #{JSON.dump(@traces).inspect};"
      - if @student_checklist_hostname
        != "var student_checklist_hostname = #{JSON.dump(@student_checklist_hostname).inspect};"
      != create_javascript_var('word_to_method_indexes', @word_to_method_indexes)
      != create_javascript_var('i_have_to_method_indexes', @i_have_to_method_indexes)
      != create_javascript_var('i_need_to_method_indexes', @i_need_to_method_indexes)
  %body
    %form(method='post')
      #sidebar
        %a#edit-tab-link(href='#')
          #edit-tab.tab
            %h2 Edit
            - if @exercise && @exercise['starting_code']
              %button#restore-button(name='action' value='restore')
                Restore original
            %button#save-button(name='action' value='save')
              Save

        .filler
        - @traces.each_with_index do |trace, i|
          %a.case-tab-link(href="#")
            .tab.case-tab{ :"data-case-num" => i }
              %h2
                = (@exercise && @exercise['cases']) ? "Case #{i}" : 'Debug'
                - if trace['test_status'] != nil
                  .test-status{ :class => trace['test_status'].downcase }
                    = trace['test_status']
        .filler.filler-tall
          - if @current_user
            logged in as
            = @current_user.first_name
            %button(name='logout' value='logout') Logout

      #edit-content
        - if params['exercise_num']
          %b= "Exercise #{params['exercise_num']}"
        - if @exercise && @exercise['description']
          != @exercise['description'].gsub(/`([^`]*)`/, "<code>\\1</code>")

        #user_code_div
          %textarea#user_code_textarea(name='user_code_textarea'
                                       cols='40' rows='10')
            = @user_code
        != haml :ruby_composer

      - (@traces || []).each_with_index do |trace, i|
        .case-content{ :"data-case-num" => i }
          - if params['exercise_num']
            %b= "Exercise #{params['exercise_num']}"
          - if @exercise && @exercise['description']
            != @exercise['description'].gsub(/`([^`]*)`/, "<code>\\1</code>")

          - if @exercise && @exercise['cases'] && @exercise['cases'][i]
            - _case = @exercise['cases'][i]
            %ul
              %li
                %b Case number:
                = i
              - if _case['given']
                %li
                  %b Given:
                  %code= (_case['given'] || {}).map { |var, val| "#{var} = #{val.inspect}" }.join(', ')

              - if _case['expected_return']
                %li
                  %b Expected return:
                  = _case['expected_return'].inspect
                %li
                  %b Actual return:
                  %code= trace['returned'].inspect

              - elsif _case['expected_stdout']
                %li
                  %b Expected output:
                  %pre(style='display:inline-block;vertical-align:top')
                    != _case['expected_stdout'].gsub('<', '&lt;')
                %li
                  %b Actual output:
                  %pre(style='display:inline-block;vertical-align:top')
                    != trace['trace'].last && (trace['trace'].last['stdout'] || '').gsub('<', '&lt;')

              - if trace['trace'].last && trace['trace'].last['exception_msg']
                %li
                  %b Uncaught exception:
                  %code.exception= trace['trace'].last['exception_msg']

              %li
                %b Result:
                - if trace['test_status'] != nil
                  .test-status{ :class => trace['test_status'].downcase }
                    = trace['test_status']

          %div{ :id => "trace_render_div#{i}" }
