!!!
%html
  %head
    %title Online Ruby Tutor
    :css
      body {
        font-family: sans-serif;
        width: 600px;
        margin: 0 auto;
      }
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41950809-1', 'onlinerubytutor.com');ga('send', 'pageview');
  %body

    %h1 Online Ruby Tutor
    %p
      %i A free educational tool to visualize execution traces of user-supplied Ruby programs

    %h2 1. Trace some examples
    %ul
      - @exercises1.each do |exercise|
        %li
          %a{ href: "/exercise/#{exercise.task_id}" }
            != YAML.load(exercise.yaml)['description']

    %h2 2. Trace your own program
    %ul
      %li
        %a(href='/exercise/D000') Write your own

    %h2 3. Learn to program by solving puzzles
    %p
      %i
        D means a demonstration: click through the cases to make sure you understand.
        %br
        C means a challenge: you need to fix the code to make the tests pass.
    %ul
      - @exercises2.each do |exercise|
        %li
          %a{ href: "/exercise/#{exercise.task_id}" }
            = exercise.task_id
            != truncate(YAML.load(exercise.yaml)['description'], 60).gsub(/`(.*?)`/, "<code>\\1</code>")

    != haml :_idea_informer
